{
  "btcd": [
    {
      "url": "bsvd:${BSV_RPC_PORT}",
      "auth": "${RPC_USER}",
      "pass": "${RPC_PASSWORD}",
      "notify": true
    }
  ],
  "btcaddress": "CHANGEME_BSV_PAYOUT_ADDRESS",
  "btcsig": "/AxeBSV/",
  "mindiff": 1,
  "startdiff": 1,
  "maxdiff": 0,
  "logdir": "/www",
  "webdir": "/www/pool",
  "userdir": "/www/users",
  "zmqblock": "tcp://bsvd:28332"
}
